@charset "UTF-8";

#main{
  position: relative;
  z-index: 1;
  width: 100%;
}
#main #section1{
  width: 100%;
  height: 480px;
  background: url(../img/sv_6.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 137px;
}
#main #section1 .title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: s1Ani1 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@keyframes s1Ani1{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  100%{
    opacity: 1;
    transform: translateY( 0px);
  }
}
#main #section1 .title h2{
  color: #fff;
  font-size: 48px;
  font-family: 'Roboto','Noto Sans KR';
}



#main #section2{
  width: 100%;
  background: #efefef;
}
#main #section2 .container{
  width: 100%;
}
#main #section2 .container .gap{
  width: 100%;
  display: flex;
  overflow: hidden;
}
#main #section2 .container .gap span{
  width: 100%;
  height: 55px;
}
#main #section2 .container .gap span a{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 52px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.8px;
}
#main #section2 .container .gap span a.active{
  background: #572a31;
  color: #fff;
}



#main #section3{
  width: 100%;
}
#main #section3 .container{
  width: 100%;
}
#main #section3 .container .bread_crumb{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  line-height: 12px;
  padding-top: 20px;
}
#main #section3 .container .bread_crumb span{
  position: relative;
  font-family: 'Roboto','Noto Sans KR';
  font-size: 12px;
  padding: 1px 12px 0px;
  display: flex;
  align-items: flex-start;
  color: #999;
}
#main #section3 .container .bread_crumb span:last-child{
  padding: 1px 0 0 12px;
}
#main #section3 .container .bread_crumb span:not(:last-child)::after{
  content: '';
  position: absolute;
  right: -2%;
  top: 48%;
  margin-top: -4.5px;
  background: url(../img/bread_crumbs_arw.png) no-repeat center center;
  background-size: auto 9px;
  display: block;
  width: 5px;
  height: 9px;
}
#main #section3 .container .bread_crumb span:nth-child(2){
  font-weight: 400;
}
#main #section3 .container .bread_crumb span img{
  width: 12px;
  height: 10px;
}







#main #section4{
  width: 100%;
  padding: 0 0 120px;
}
#main #section4 .container{
  width: 100%;
  display: flex;
  margin-top: 40px;
}
#main #section4 .container .side_menu{
  width: 100%;
  max-width: 260px;
}
#main #section4 .container .side_menu > ul{
  width: 100%;
  padding-right: 80px;
}
#main #section4 .container .side_menu > ul > li{
  margin-bottom: 24px;
}
#main #section4 .container .side_menu > ul > li > a{
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.3;
  color: #777;
  font-weight: 400;
}
#main #section4 .container .side_menu > ul > li > a i{
  font-size: 13px;
  padding: 0 1px;
  font-weight: 500;
}
#main #section4 .container .side_menu  ul  li a.active{
  color: #333 !important;
  font-weight: 500 !important;
}
#main #section4 .container .side_menu > ul > li.desc > a{
  padding-right: 20px;
}
#main #section4 .container .side_menu > ul > li.desc > a::after{
  content: '\e87b';
  font-family: 'fontello';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-44%);
  font-size: 18px;
}
#main #section4 .container .side_menu > ul > li.desc.show > a::after{
  content: '\e87e';
}
#main #section4 .container .side_menu > ul > li .side_sub_menu{
  display: none;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
}
#main #section4 .container .side_menu > ul > li .side_sub_menu ul{
  width: 100%;
}
#main #section4 .container .side_menu > ul > li .side_sub_menu ul li{
  margin-top: 18px;
}
#main #section4 .container .side_menu > ul > li .side_sub_menu ul li a{
  color: #777;
  line-height: 1.3;
}


#main #section4 .container .main_box {
  width: 100%;
  max-width: calc(100% - 260px);
}
#main #section4 .container .main_box > .title{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  animation: s4Ani 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#main #section4 .container .main_box > .title h2{
  font-size: 36.5px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.4px;
}
@keyframes s4Ani{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  70%{
    opacity: 1;
    transform: translateY( 0px);
  }
}

/* common */
#main #section4 .container .main_box .sub_section1 .wrap .item_list{
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
  line-height: 2;
  color: #777;
  font-size: 16.4px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
#main #section4 .container .main_box .sub_section1 .wrap .num{
  width: 8%;
  padding: 13px 0;
}
#main #section4 .container .main_box .sub_section1 .wrap .tit_txt{
  width: calc(100% - 31%);
  padding: 13px 0;
}
#main #section4 .container .main_box .sub_section1 .wrap .item_list .tit_txt{
  text-align: left;
  padding-left: 6px;
}
#main #section4 .container .main_box .sub_section1 .wrap .item_list .tit_txt a{
  color: #777;
}
#main #section4 .container .main_box .sub_section1 .wrap .item_list .tit_txt a:hover{
  text-decoration: underline;
}
#main #section4 .container .main_box .sub_section1 .wrap .date{
  width: 15%;
  padding: 13px 0;
}


/* sub section1 */
#main #section4 .container .main_box .sub_section1{
  width: 100%;
  padding: 80px 0;
}
#main #section4 .container .main_box .sub_section1 .wrap{
  width: 100%;
  text-align: center;
}
#main #section4 .container .main_box .sub_section1 .wrap .division{
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  border-bottom: 1px solid #ccc;
  color: #444;
  font-weight: 600;
  line-height: 1.8;
  font-size: 15.8px;
  background: #f8f8f8;
}
#main #section4 .container .main_box .sub_section1 .wrap .loud_speacker_list{
  width: 100%;
}
#main #section4 .container .main_box .sub_section1 .wrap .loud_speacker_list .loud_speacker .num p{
  position: relative;
}
#main #section4 .container .main_box .sub_section1 .wrap .loud_speacker_list .loud_speacker .num i{
  font-size: 18px;
  color: #572a31;
}
#main #section4 .container .main_box .sub_section1 .wrap .notice_list{
  width: 100%;
  margin-bottom: 70px;
}







#main #section4 .container .main_box .sub_section1 .wrap .indicator{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .first_box{
  width: 34px;
  height: 34px;
  margin-right: 12px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .first_box .prev_first_btn{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/prev-first.png) no-repeat center center;
  background-size: cover;
  margin-top: 2px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .page_num{
  padding: 0 12px;
  display: flex;
  justify-content: center;
  font-family: 'Roboto',sans-serif;
  
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .page_num.active{
  font-weight: 500;
  color: #000;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .page_num .page_btn{
  font-size: 20px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .next_box{
  width: 34px;
  height: 34px;
  margin-left: 12px;
  margin-right: 18px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .next_box .next_btn{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/next.png) no-repeat center center;
  background-size: cover;
  margin-top: 2px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .last_box{
  width: 34px;
  height: 34px;
}
#main #section4 .container .main_box .sub_section1 .wrap .indicator .last_box .next_last_btn{
  display: block;
  width: 100%;
  height: 100%;
  background: url(../img/next-last.png) no-repeat center center;
  background-size: cover;
  margin-top: 2px;
}

#main #section4 .container .main_box .sub_section1 .wrap .search_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_ttl{
  width: 100%;
  max-width: 136px;
  height: 50px;
  border: 1px solid #ccc;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_ttl select{
  width: 100%;
  height: 100%;
  padding: 0 40px 0 10px;
  background: url(../img/select_i.png) no-repeat 92% center;
  appearance:none;
  font-size: 15px;
  font-weight: 500;
}

#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input{
  position: relative;
  width: 310px;
  margin-left: 10px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input .input_box{
  width: 253px;
  height: 100%;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input .input_box input{
  width: 100%;
  height: 100%;
  padding: 2px 15px 0;
  font-weight: 600;
  font-size: 18px;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input input::placeholder{
  font-size: 17px;
  font-weight: 400;
  color: #bbb;
  font-family: 'Roboto',sans-serif;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input .seach_btn{
  width: calc(100% - 253px);
  height: 100%;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input .seach_btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#main #section4 .container .main_box .sub_section1 .wrap .search_box .search_input .seach_btn a img{
 width: 20px;
 height: 21px;
}